/* font imports */
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

/* override any margins set by browsers */
* {
  margin: 0;
  padding: 0;
  font-family: 'Josefin Sans', sans-serif;
}

/* header */
.app header {
  /* position fixed at the top of the window */
  position: sticky;
  padding: 1rem;
  /* curve the bottom corners */
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  /* fill the screen */
  display: flex; 
  flex: 1; 
  justify-content: center;
  background-color: darkolivegreen;
}
/* header text */
.app header h1 {
  color: #FFF;
}

